@import "../assets/scss/variables";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $theme-dark-bg;
}

.main-content {
  flex: 1;
  background-color: $theme-dark-bg;
  display: flex;
  flex-direction: column;
  color: $theme-dark-text-primary;

  @media (min-width: 768px) {
    padding-top: 64px; // Altura del header
    padding-bottom: 60px; // Espacio para el footer fijo
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  }
}
