@import "./assets/scss/variables";

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: $theme-dark-bg;
  color: $theme-dark-text-primary;
}
